@mixin font-face ($font-family, $font-src) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    src: $font-src;
    font-display: swap;
  }
}

@mixin font {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

@mixin flex ($dir, $justify, $gap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  gap: $gap;
}

/* @mixin margin {
  margin: 0 20px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }

  @media screen and (min-width: $desktop-big-width) {
    width: auto;
    margin: 0 110px;
  }
} */


@mixin content-width {
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: 708px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
  }
}

