/* здесь используйте глобальные переменные */

$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$main-color: #ffffff;
$first-bg-color: #68b738;
$second-bg-color: #f2f2f2;
$primary-color: #000000;
$secondary-color: #444444;
$tertiary-color: #111111;
$quaternary-color: #222222;
