/* здесь используйте глобальные переменные */

$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$main-color: #ffffff;
$first-bg-color: #68b738;
$first-bg-color-translucent: rgba(104, 183, 56, 0.85);
$second-bg-color: #f2f2f2;
$third-bg-color: #eaeaea;
$border-color: #cdcdcd;
$primary-color: #000000;
$secondary-color: #444444;
$tertiary-color: #111111;
$quaternary-color: #222222;
$curtain-color: #666666;
