/* здесь используйте глобальные переменные */

$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$main-color: #ffffff;
$main-color-transparent: rgba(255, 255, 255, 0.3);
$corporate: #68b738;
$corporate-translucent: rgba(104, 183, 56, 0.85);
$corporate-active: rgba(104, 183, 56, 0.3);
$corporate-condition: #5eaa2f;
$corporate-condition-active: rgba(94, 170, 47, 0.6);
$second-bg-color: #f2f2f2;
$third-bg-color: #eaeaea;
$fourth-bg-color: #ebebeb;
$border-color: #cdcdcd;
$border-color-light: #e7e7e7;
$primary-color: #000000;
$secondary-color: #444444;
$tertiary-color: #111111;
$tertiary-focus: #3e3e3e;
$tertiary-active: #6b6b6b;
$quaternary-color: #222222;
$condition-color: #666666;
