.additional {
  overflow: hidden;
}

.additional__title {
  @include font;
  font-size: 24px;
  line-height: 24px;
  padding: 25px 0 35px;
  position: relative;
  z-index: 1;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    right: calc(100% + 41px);
    width: 100vw;
    height: 2px;
    background-color: $corporate;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: calc(100% + 41px);
    width: 100vw;
    height: 2px;
    background-color: $corporate;
    z-index: -1;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 75px 40px 79px;

    &::before {
      content: "";
      position: absolute;
      top: 89px;
      right: 100%;
      width: 100vw;
      height: 2px;
      background-color: $corporate;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 89px;
      left: 100%;
      width: 100vw;
      height: 2px;
      background-color: $corporate;
      z-index: -1;
    }
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding: 71px 0 80px;

    &::before {
      content: "";
      position: absolute;
      top: 88px;
      right: calc(100% + 40px);
      width: 100vw;
      height: 2px;
      background-color: $corporate;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 88px;
      left: calc(100% + 40px);
      width: 100vw;
      height: 2px;
      background-color: $corporate;
      z-index: -1;
    }
  }
}

.additional__wrapper {
  @include content-width;
}

.additional__content {
  @media screen and (min-width: $desktop-width) {
    @include flex (row, space-between, 80px);
    margin-bottom: 25px;
  }
}

.additional__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $desktop-width) {
    width: 895px;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: 75% 25%;
  row-gap: 13px;
  padding: 13px 0 18px;
  border-bottom: 1px solid $border-color;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 60% auto 84px;
    align-items: start;
    gap: 23px 10px;
    border: 1px solid $border-color;
    padding: 26px 38px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 325px 243px 82px 244px;
    border: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 14px 0 16px;
    align-items: center;
    gap: 0;
  }
}

.additional__item:first-child {
  border-top: 1px solid $border-color;
}

.additional__subtitle {
  @include font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $secondary-add;
  background-color: transparent;
  grid-column: span 2;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-column: span 1;
  }
}

.additional__name {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: $secondary-color;
  background-color: transparent;
  padding: 1px 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
    padding: 2px 0 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 3px;
    place-self: center start;
  }
}

.additional__value {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: $secondary-color;
  background-color: transparent;
  place-self: center end;
  padding: 2px 0 0;


  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    justify-self: start;
    padding-top: 3px;
  }
}

.additional__button {
  border: none;
  grid-column: span 2;

  @media screen and (min-width: $tablet-width) {
    grid-column: span 3;
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
    grid-column: span 1;
  }
}

.additional__banner {
  display: block;
  width: 100%;
  min-height: 290px;
  background: linear-gradient(rgba($corporate, 0.85), rgba($corporate, 0.85)), url("../../images/additional/additional-banner-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 35px 0 30px;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    display: block;
    background-image: url("../../icons/stack.svg#gift");
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translate(-50%);
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 200px;
    background: linear-gradient(rgba($corporate, 0.85), rgba($corporate, 0.85)), url("../../images/additional/additional-banner-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 71px 0;

    &::before {
      background-size: 80px 83px;
      top: 98px;
      left: 78px;
      transform: translateY(-50%);
      padding: 0;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background: linear-gradient(rgba($corporate, 0.85), rgba($corporate, 0.85)), url("../../images/additional/additional-banner-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    &::before {
      top: 56px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.additional__banner-text {
  @include font;
  font-family: $primary-font;
  font-size: 16px;
  color: $main-color;
  background-color: transparent;
  text-align: center;
  padding: 187px 61px 43px 58px;

  @media screen and (min-width: $tablet-width) {
    text-align: start;
    padding: 71px 125px 68px 421px;
  }

  @media screen and (min-width: $desktop-width) {
    text-align: center;
    padding: 185px 42px 43px;
  }
}
