.address {
  padding: 26px 20px;

  @media screen and (min-width: $tablet-width) {
    padding: 60px 70px;
  }
}

.address-catalog {
  background-color: $bg-color;

  @media screen and (min-width: $desktop-width) {
    background-color: $main-color;
  }
}

.address__slogan {
  @include font;
  font-size: 16px;
  text-transform: uppercase;
  color: $add-color;

  @media screen and (min-width: $tablet-width) {
    line-height: 26px;
  }
}

.address__value {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  color: $secondary-color;
  text-decoration: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    text-align: end;
  }

  @media screen and (min-width: $desktop-width) {
    text-align: start;
  }
}

.address__value-street {
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.address__value-town {
  @media screen and (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 9px;
  }
}
