.address {
  padding: 26px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 565px;
    padding: 60px 78px 60px 80px;
  }
}

.address__slogan {
  @include font;
  font-size: 16px;
  text-transform: uppercase;
  color: $add-color;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    line-height: 26px;
  }
}

.address__value {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  color: $secondary-color;
  background-color: transparent;
  text-decoration: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    text-align: end;
  }

  @media screen and (min-width: $desktop-width) {
    text-align: start;
  }
}

.address__value-street {
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.address__value-town {
  @media screen and (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 9px;
  }
}
