.button {
  @include font;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;
  background-color: $corporate;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;

  &:hover,
  &:focus-visible {
    background-color: $button-active;
  }

  &:active {
    color: rgba($main-color, 0.3);
    background-color: $button-active;
  }

  &--big {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: block;
      font-size: 20px;
      line-height: 26px;
      padding: 14px 26px;
    }
  }

  &--all {
    color: $secondary-color;
    background-color: $bg-color;
    padding-right: 12px;

    &:hover,
    &:focus-visible,
    &:active {
      color: $secondary-color;
      background-color: $bg-active;
    }

    @media screen and (min-width: $tablet-width) {
      padding-top: 10px;
      padding-right: 10px;
    }
  }
}

