.example {
  background: $bg-dark;

  @media screen and (min-width: $tablet-width) {
    background: linear-gradient(180deg, $main-color 0%, $main-color 57%, $bg-dark 57%, $bg-dark 100%);
  }

  @media screen and (min-width: $desktop-width) {
    background: linear-gradient(180deg, $main-color 0%, $main-color 57%, $bg-color 57%, $bg-color 100%);
  }
}

.example__wrapper {
  @include margin;

  @media screen and (min-width: $desktop-width) {
    @include flex (row, space-between, 20px);
  }
}

.example__title {
  @include margin;
  @include font;
  font-size: 36px;
  line-height: 40px;
  padding: 25px 0 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 45px 0 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 22px 0 76px;
  }
}

/* .example__text-wrapper {
  @include flex (row, space-between, 20px);
} */

.example__description {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  padding: 20px 0 10px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 30px 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 70px 0 44px;
  }
}

.example__calculation {
  padding: 15px 0 10px;

  @media screen and (min-width: $tablet-width) {
    @include flex (row, space-between, 20px);
    padding: 25px 0;
  }

  @media screen and (min-width: $desktop-width) {
    display: block;
    padding: 25px 0;
  }
}

.example__list {
  @include flex (row, space-between, 32px);
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    width: 48%;
    gap: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: auto;
    width: 100%;
    justify-content: flex-start;
  }
}

.example__item {
  width: 44%;
  list-style: none;
  position: relative;
  background-color: $bg-dark;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    position: absolute;
    top: -14px;
    z-index: -1;
  }

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    background-color: $main-color;

    &::after {
      width: 100%;
      height: 72px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 34%;
  }
}

.example__item-wrapper {
  background-color: $bg-dark;

  @media screen and (min-width: $tablet-width) {
    width: auto;
    background-color: $main-color;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $bg-dark;
  }
}

.example__item-value {
  @include font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 9px 9px 4px;


  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 15px 6px;
  }
}

.example__item-indicator {
  @include font;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $secondary-color;
  padding: 4px 25px 9px;


  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 5px 15px 15px;
  }
}

.example__total {
  @include flex (row, center, 20px);
  padding: 10px 0;

  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    align-items: end;
    gap: 9px;
    padding: 10px 0;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    padding: 40px 0;
  }
}

.example__total-text {
  @include font;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__total-value {
  @include font;
  font-size: 14px;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__picture-slider {
  min-width: 280px;
  min-height: 256px;
  position: relative;
  padding: 10px 0 40px;

  @media screen and (min-width: $tablet-width) {
    min-width: 560px;
    min-height: 512px;
    text-align: center;
    padding: 74px 0 101px;
  }
}

/* .example__picture-wraper {
  position: absolute;
} */

.example__button {
  cursor: pointer;
  background-color: $link-color;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  display: block;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;


  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $main-color;
    border: 2px solid $link-color;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $link-color;
    mask-image: url("../../icons/stack.svg#curtain");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    mask-position: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus-visible {
    background-color: $corporate;
  }

  &:active {
    background-color: rgba($corporate, 0.3);
  }

  &:hover::before,
  &:focus-visible::before {
    border-color: $corporate;
  }

  &:active::before {
    border-color: rgba($corporate, 0.3);
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $corporate;
  }

  &:active::after {
    background-color: rgba($button-active, 0.6);
  }
}
