.example {
  min-width: 280px;
  width: 100%;
  background: $bg-dark;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    background: linear-gradient(180deg, $main-color 0, $main-color 620px, $bg-dark 620px, $bg-dark 100%);
    padding-bottom: 101px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 0;
    background: linear-gradient(180deg, $main-color 0, $main-color 160px, $bg-color 160px, $bg-color 100%);
  }
}

.example__content {
  @include content-width;

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 560px;
    gap: 0;
  }
}

.example__title {
  @include font;
  font-size: 36px;
  line-height: 40px;
  background-color: transparent;
  padding: 25px 0 20px 1px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 44px 0 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 23px 0 76px;
  }
}

.example__discription {
  @include font;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  background-color: transparent;
  padding: 20px 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 30px 0 57px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 433px;
    padding: 70px 0 44px;
  }
}

.example__calculation {
  padding: 14px 0 0;

  @media screen and (min-width: $tablet-width) {
    @include flex (row, space-between, 20px);
    padding: 8px 0 94px;
  }

  @media screen and (min-width: $desktop-width) {
    display: block;
    padding: 38px 0 26px;
  }
}

.example__list {
  @include flex (row, space-between, 0);
  margin: 0;
  padding: 0 0 5px;

  @media screen and (min-width: $tablet-width) {
    width: 367px;
    gap: 18px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 366px;
    justify-content: space-between;
  }
}

.example__item {
  width: 124px;
  list-style: none;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 124px;
    min-height: 56px;
    display: block;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    position: absolute;
    top: -14px;
    z-index: -1;
  }

  @media screen and (min-width: $tablet-width) {
    width: 162px;

    &::after {
      width: 100%;
      top: -12px;
      min-height: 72px;
    }
  }
}

.example__item-value {
  @include font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: $bg-dark;
  display: inline-block;

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 4px 0;
    background-color: $main-color;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 2px 0 6px;
  }

  &--weight {
    margin: 0 32px;
    padding: 1px 10px 4px 11px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 47px 0 48px;
      padding: 4px 9px 5px;
    }

    @media screen and (min-width: $desktop-width) {
      background-color: $bg-color;
    }
  }

  &--time {
    margin: 0 21px;
    padding: 1px 0 4px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 20px;
      padding: 4px 9px 5px 11px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $bg-color;
  }
}

.example__item-indicator {
  @include font;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $secondary-color;
  background-color: $bg-dark;
  padding: 4px 15px 0 13px;
  display: inline-block;

  @media screen and (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $main-color;
  }

  &--weight {
    margin: 0 18px;
    padding: 4px 5px 5px 3px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 25px;
      padding: 4px 8px 5px;
    }

    @media screen and (min-width: $desktop-width) {
      background-color: $bg-color;
    }
  }

  &--time {
    margin: 0 19px;
    padding: 4px 10px 5px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 10px;
      padding: 4px 8px 5px;
    }

    @media screen and (min-width: $desktop-width) {
      background-color: $bg-color;
    }
  }
}

.example__total {
  @include flex (row, center, 5px);
  padding: 9px 0 20px;

  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 9px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 66px;
    padding: 48px 0 50px;
  }
}

.example__total-text {
  @include font;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__total-value {
  @include font;
  font-size: 14px;
  text-align: center;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__picture-slider {
  width: 280px;
  height: 256px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 23px auto 0;
  }
}

.example__picture-wraper {
  width: 280px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bg-dark;
  overflow: hidden;

  @media screen and (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    background: linear-gradient(0deg, $bg-dark 0, $bg-dark 359px, $main-color 359px, $main-color 512px);
  }

  @media screen and (min-width: $desktop-width) {
    background: linear-gradient(0deg, $bg-color 0, $bg-color 375px, $main-color 375px, $main-color 512px);
  }

  &--before {
    width: 50%;
    z-index: 4;
  }

  &--after {
    z-index: 3;
  }
}

.example__button {
  cursor: pointer;
  background-color: $link-color;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $main-color;
    border: 2px solid $link-color;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: $link-color;
    mask-image: url("../../icons/stack.svg#curtain");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    mask-position: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus-visible {
    background-color: $corporate;
  }

  &:active {
    background-color: rgba($corporate, 0.3);
  }

  &:hover::before,
  &:focus-visible::before {
    border-color: $corporate;
  }

  &:active::before {
    border-color: rgba($corporate, 0.3);
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $corporate;
  }

  &:active::after {
    background-color: rgba($button-active, 0.6);
  }
}
