.main-header {
  @include flex (row, space-between, 10px);
  align-items: center;

  @include content-width;
  background-color: $main-color;


  @media screen and (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    &__bg {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 4;
      top: 53px;
      background-color: transparent;
    }
  }
}

.main-header__logo {
  @include flex (row, space-between, 56px);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media screen and (min-width: $tablet-width) {
    gap: 13px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 14px;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 18px;
  padding-top: 10px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 15px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
    padding-top: 19px;
  }

  &--catalog {
    padding-top: 13px;

    @media screen and (min-width: $tablet-width) {
      padding-top: 15px;
    }

    @media screen and (min-width: $desktop-width) {
      padding-top: 19px;
    }
  }
}
