.main-header {
  @include flex (row, space-between, 10px);
  align-items: center;

  @include margin;

  background-color: $main-color;

  /* position: fixed;
  z-index: 10; */

  @media screen and (min-width: $tablet-width) {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: transparent;
  }
}

/* .main-header__logo {

} */

/* .main-header__navigation {
  width: 20%;
} */
