.main-footer {
  @include flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-bg-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-footer__logo {
  padding: 20px;

  &::before {
    content: "";
    width: 128px;
    height: 24px;
    display: block;
    background-color: $tertiary-color;
    mask-image: url("../../icons/stack.svg#logo-text");
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $tertiary-focus;
  }

  &:active::before {
    background-color: $tertiary-active;
  }
}

.main-footer__socials-list {
  @include flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

/* .main-footer__socials-item {

} */

.main-footer__socials-link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover::before,
  &:focus-visible::before {
    background-color: $corporate;
  }

  &:active::before {
    background-color: $corporate-active;
  }

  &--vkontakte::before {
    content: "";
    width: 28px;
    height: 22px;
    display: block;
    background-color: $condition-color;
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--youtube::before {
    content: "";
    width: 28px;
    height: 22px;
    display: block;
    background-color: $condition-color;
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--telegram::before {
    content: "";
    width: 28px;
    height: 22px;
    display: block;
    background-color: $condition-color;
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.main-footer__logo-academy {
  text-decoration: none;
}

.logo-academy__text {
  position: relative;
  padding-right: 100px;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    display: block;

    @include flex;
    text-decoration: none;
    background-color: $condition-color;
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    mask-size: 27px 34px;
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    top: 0;
    left: 140px;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: $corporate;
  }

  &:active::after {
    background-color: rgba($corporate, 0.5);
  }
}
