.navigation {

}

.navigation__list {
  list-style: none;
}

.navigation__link {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
