.product-card {
  border-bottom: 1px solid $border-dark-line;

  @media screen and (min-width: $tablet-width) {
    border: none;
  }
}

.product-card-wrapper {
  @include content-width;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 14px;
  padding: 20px 0 25px;

  @media screen and (min-width: $tablet-width) {
    width: 250px;
    grid-template-columns: 1fr;
    background: linear-gradient(180deg, $main-color 0%, $main-color 16%, $bg-color 16%, $bg-color 100%);
    padding: 10px 36px 40px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 169px;
  }

  &--more {
    grid-template-columns: 1fr;
    background-image: url("../../icons/stack.svg#small-plus");
    background-repeat: no-repeat;
    background-position: center 25px;
    background-size: 30px 30px;

    @media screen and (min-width: $tablet-width) {
      width: 250px;
      background-image: url("../../icons/stack.svg#big-plus");
      background-size: 60px 60px;
      border: 2px solid $bg-color;
    }

    @media screen and (min-width: $desktop-width) {
      width: 169px;
    }
  }
}

.product-card__link-image {
  grid-row: span 2;
  width: 140px;
  height: 107px;

  @include flex (row, center, 0);
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product-card__link {
  text-decoration: none;

  &--more {
    text-decoration: none;
  }
}

.product-card__subtitle {
  @include font;
  font-size: 16px;
  text-transform: uppercase;
  color: $secondary-add;
  background-color: transparent;
  padding-right: 40%;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0 57px 0 58px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 14px 0 15px;
  }

  &--more {
    @include font;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: $add-color;
    background-color: transparent;
    padding-top: 78px;


    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.product-card__text {
  &--more {
    @include font;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-color;
    background-color: transparent;
    padding-bottom: 13px;

    @media screen and (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.product-card__list {
  list-style: none;
  padding: 0 0 7px;
}

.product-card__item {
  @include flex (row, space-between, 20px);
}

.product-card__name,
.product-card__value {
  @include font;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__button {
  grid-column: span 2;

  @media screen and (min-width: $tablet-width) {
    grid-column: span 1;
  }

  &--more {
    grid-column: span 1;
  }
}
