.programs {
  @include margin;
  margin-top: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    gap: 30px;
  }

  @media screen and (min-width: $desktop-width) {

    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  list-style: none;
  position: relative;
  background-color: $bg-color;


  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

