.programs {
  @include margin;
}

.programs__list {
  padding: 0;

  @media screen and (min-width: $desktop-width) {
    @include flex (row, center, 80px);
  }
}

.programs__item {
  list-style: none;
  position: relative;
  background-color: $bg-color;
  margin-bottom: 30px;
}

