.programs {
  @include margin;
}

.programs__list {
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  list-style: none;
  position: relative;
  background-color: $bg-color;
  margin-bottom: 30px;
}

