.works {
  @media screen and (min-width: $tablet-width) {
    border-bottom: 1px solid $border-dark-line;
  }

  @media screen and (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.works__wrapper {
  @include content-width;
  margin-bottom: 49px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.works__title {
  @include font;
  font-size: 36px;
  line-height: 40px;
  background-color: transparent;
  padding: 10px 0 40px 1px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 14px 0 32px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 33px 0 32px;
  }
}

.works__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 37px 60px;
  counter-reset: item;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $desktop-width) {
    @include flex (row, space-between, 20px);
  }
}

.works__item {
  min-height: 60px;

  @media screen and (min-width: $tablet-width) {
    min-height: 280px;
    position: relative;

    &--leaf {
      width: 230px;
    }

    &--powder {
      width: 246px;
    }

    &--eat {
      width: 248px;
    }

    &--time {
      width: 250px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--leaf {
      margin-right: 20px;
    }

    &--powder {
      margin-right: 7px;
    }

    &--eat {
      margin-right: 0;
    }

    &--time {
      margin-right: -5px;
    }
  }
}

.works__item::before {
  position: absolute;
  right: 3px;
  z-index: -1;

  @media screen and (min-width: $tablet-width) {
    counter-increment: item;
    content: counter(item);

    @include font;
    font-size: 280px;
    line-height: 280px;
    color: $bg-color;
    background-color: transparent;
  }

  @media screen and (min-width: $desktop-width) {
    //right: 20px;
  }
}

