/* .work-item {

} */

.work-item__description {
  padding-left: 80px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    background-color: $corporate;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--leaf {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#leaf");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  &--powder {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#powder");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  &--eat {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#eat");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  &--time {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#time");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 151px;
    padding-left: 0;
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: 10px;
      left: 0;
    }

    &::after {
      top: 30px;
      left: 25px;
    }
  }
}

