.work-item__description {
  padding: 2px 0 0 80px;
  position: relative;

  @include font;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  background-color: transparent;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    background-color: $corporate;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--leaf {
    &::after {
      content: "";
      width: 30px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#leaf");
      background-size: 30px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  &--powder {
    &::after {
      content: "";
      width: 27px;
      height: 31px;
      display: block;
      background-image: url("../../icons/stack.svg#powder");
      background-size: 27px 31px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 17px;
    }
  }

  &--eat {
    &::after {
      content: "";
      width: 26px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#eat");
      background-size: 26px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 17px;
    }
  }

  &--time {
    &::after {
      content: "";
      width: 28px;
      height: 32px;
      display: block;
      background-image: url("../../icons/stack.svg#time");
      background-size: 27px 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 17px;
    }
  }
}


@media screen and (min-width: $tablet-width) {
  .work-item__description {
    padding: 151px 0 20px;
    position: relative;
    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }

    &--leaf {
      &::after {
        content: "";
        top: 64px;
        left: 24px;
      }
    }

    &--powder {
      &::after {
        content: "";
        top: 65px;
        left: 26px;
      }
    }

    &--eat {
      &::after {
        content: "";
        top: 63px;
        left: 27px;
      }
    }

    &--time {
      &::after {
        content: "";
        top: 63px;
        left: 27px;
      }
    }
  }
}

.br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
